.content-section{
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
    height: 95%;
}

.location-icon {
    font-size: 35px;
    color: red;
}

.station-icon {
    font-size: 25px;
    color: blue;
}

button{
    padding: 0.75rem 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
}